spring:
  application:
    name: ODIN
  profiles:
    active: quarry
  data:
    mongodb:
      database: odin
      port: 27017

  servlet:
    multipart:
      max-file-size: 300MB
      max-request-size: 300MB
#  servlet:
#    multipart:
#      max-file-size: 30MB
#      max-request-size: 30MB

spark:
  name: "ODIN_spark"
  bindAddress: "localhost"
  master: "local[*]"
  driver:
      memory: "471859200"
  testing:
      memory: "471859200"

dataStorage:
  landingZone:
    persistent:
      name: "persistent"
    temporal:
      name: "temporal"
    datasources:
      name: ds
    jena:
      name: jena
  namedGraphs:
    users: "http://www.essi.upc.edu/DTIM/NextiaDI/Users"
    projects: ""

info:
  component: Odin is a system that supports incremental pay-as-you-go integration of data sources into dataspaces and provides user-friendly
    querying mechanisms on top of them

app:
  security:
    jwt:
      keystore-location: "keys/keystore.jks"
      keystore-password: "password"
      key-alias: "jwtsigning"
      private-key-passphrase: "password"

server:
#  servlet:
#    context-path: /odin
  port: 8082